PORT=5000 
MONGO_URI=mongodb://localhost:27017/pec-events 
JWT_SECRET=supersecret 
JWT_EXPIRES_IN=7d 
CLIENT_URL=http://localhost:3000 
 
EMAIL_HOST=smtp.example.com 
EMAIL_PORT=587 
EMAIL_USER=username 
EMAIL_PASS=password 
EMAIL_FROM=PEC Events <no-reply@pec.edu> 
VITE_API_URL=http://localhost:5000/api
